# Environment
.env
.env.*
.pem
.key
.crt


# Python
venv/
.venv/
__pycache__/
*.pyc

secrets/

# Node
node_modules/

# Runtime
data/

# IDE
.vscode/
.idea/

# Docker
*.log

# Build
dist/
build/

# Local AI
ollama/

# DB
postgres/
db.sqlite3
data/*
!data/**/.gitkeep
